:root {
    --background-color: #413F54;
    --compartment-color: #0e0f0f;
    --component-color: #C09BD8;
    --button-color: #46237A;
    --text2-color: #4e4e50; 
    --text-color: #fff;
    --header-color:#1C733C;
    --card-color: #C3083F;
    --head-color: #fff;
    --nav-color:#00F;
    --logo-color: #000
  }
  
  --border-color:#6f2232